body {
    /* zera margem do corpo do site */
    margin: 0;
    /* zera espaçamento interno */
    padding: 0;
    /* alterar cor de fundo do site */
    box-sizing: border-box;
    background-color: #00488b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* layot do site */
    display: flex;
    /* deixe os elementos do site no centro */
    justify-content: center;
    /* alinhar Y na vertical */
    align-items: center;
    /* utilizar altura 100% */
    height: 100vh;
}
.profile {
    text-align: center;
    color: rgb(rgb(0, 102, 255, 0.295), rgb(128, 0, 0), rgb(0, 162, 255));
    align-items: center;
}
.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
.profile h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* Botões de link */
.links .btn {
    display: block;
    width: 100%;
    background-color: rgb(0, 45, 75);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
    text-align: center;
}

.links .btn:hover {
    background-color: #ddd;
}